/*logo*/
.logo-area {
  text-align: center;
  position: relative;
  padding: 3% 0 5%;

  .logo {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    position: relative;
    z-index: 2;
  }

  .person {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    margin-top: -2%;
    position: relative;
    z-index: 2;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 30%;
    height: 65%;
    background: url(../img/idxbg1.png) no-repeat;
    background-size: contain;
  }

  &::before {
    top: 5%;
    left: 5%;
    background-position: left top;
  }

  &::after {
    top: 5%;
    right: 5%;
    background-position: right top;
  }
}

/*最新消息&plurk*/
.news-area {
  background: url(../img/woodbg.png) repeat top left;
  position: relative;
  margin-top: -8%;
  padding: 5% 0 0;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 50px;
    background: url(../img/woodtop.png) repeat-x bottom left;
    top: -50px;
    left: 0;
  }

  .news-container {
    background: $mainbg;
    border-radius: 2rem;
    border: 3px dashed $mainBrn;

    .swiper-slide {
      background-repeat: no-repeat;
      background-position: top center;
      background-size: cover;
      padding-bottom: 39%;
    }

    .swiper-button-next:after {
      content: "\f0da";
      font-family: 'Font Awesome 5 Free';
      font-weight: 900;
      color: $mainGrn;
      transition: .5s color;
    }

    .swiper-button-prev:after {
      content: "\f0d9";
      font-family: 'Font Awesome 5 Free';
      font-weight: 900;
      color: $mainGrn;
      transition: .5s color;
    }

    .swiper-button-next,
    .swiper-button-prev {
      &:hover {
        &::after {
          color: $lightGrn;
          transition: .5s color;
        }
      }
    }
  }
}