$mainGrn:#7EC97A;
$mainBlue:#87A4FF;
$lightGrn:#9DD6FF;
$lightBlue:#DAF8C4;
$mainbg: #F8F4EF;
$bgblue:#BDE3FF;
$mainBrn:#C79564;
$mainYel:#F3EDCE;

/*--mixin--*/
@function fontsize($size) {
  @return $size / 10;
}

@mixin fontCal($size) {
  font-size: fontsize($size)*1rem;
}